.container {
  /* border: 1px solid orange; */
}
.container-fluid {
  /* border: 1px solid red; */
}

.row {
  /* border: 1px solid blue; */
  /* margin: 5px 0; */
}
[class*="col"] {
  /* border: 1px dashed blueviolet; */
  /* min-height: 30px; */
}

/* ********************* Main ********************** */
:root {
  --blue-ps: #00439c;
  --light-blue-ps: #2d64e6;
  --gray-ps: #727272;
  --light-gray-ps: #bebcbb;
}

main,
footer {
  position: relative;
  top: 106px;
}

/* *********************** Utilities ******************* */
.text-blue-ps {
  color: var(--blue-ps);
}
.text-lblue-ps {
  color: var(--light-blue-ps);
}
.text-gray-ps {
  color: var(--gray-ps);
}
.text-lgray-ps {
  color: var(--light-gray-ps);
}

.btn-primary {
  background-color: var(--light-blue-ps);
}
.btn-secondary {
  background-color: #363636;
}
.btn-info,
.btn-info:hover,
.btn-info:active {
  color: white;
  background-color: #cd3d0f;
  border-color: #cd3d0f;
}

/* Header */
#top-header {
  height: 30px;
  background-color: #000;
}
#top-header img {
  height: 15px;
}

/* header bottom */
#bottom-header {
  background-color: #fff;
}

#bottom-header .nav-item > a {
  color: #000;
}
#bottom-header .nav-item img {
  height: 1.5rem;
}

/* top jumbo */
#top-jumbo {
  height: 600px;

  background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

/* second section */
#second-section {
  background-color: #1f1f1f;
}
/* third jumbotron */
#third-jumbo {
  background-color: #bebcbb;
}

/* fourth jumbotron  */
#fourth-jumbo {
  background-color: #161c3b;
}

/* footer */
footer {
  background-color: var(--blue-ps);
}
