.container {
  /* border: 1px solid orange; */
}
.container-fluid {
  /* border: 1px solid red; */
}

.row {
  /* border: 1px solid blue; */
  /* margin: 5px 0; */
}
[class*="col"] {
  /* border: 1px dashed blueviolet; */
  /* min-height: 30px; */
}

/* ********************* Main ********************** */
:root {
  --dark-blue-ps: #161c3b;
  --blue-ps: #00439c;
  --light-blue-ps: #2d64e6;
  --gray-ps: #727272;
  --light-gray-ps: #bebcbb;
}

body {
  position: relative;
  top: 106px;
}

/* *********************** Utilities ******************* */
/* Colors */
.text-dblue-ps {
  color: var(--dark-blue-ps);
}
.text-blue-ps {
  color: var(--blue-ps);
}
.text-lblue-ps {
  color: var(--light-blue-ps);
}
.text-gray-ps {
  color: var(--gray-ps);
}
.text-lgray-ps {
  color: var(--light-gray-ps);
}

/* Borders */
.rounded-4 {
  border-radius: 1rem;
}

/* Buttons */
.btn-primary {
  background-color: var(--light-blue-ps);
}
.btn-secondary {
  background-color: #363636;
}
.btn-info,
.btn-info:hover,
.btn-info:active {
  color: white;
  background-color: #cd3d0f;
  border-color: #cd3d0f;
}

/* Header */
#top-header {
  height: 30px;
  background-color: #000;
}
#top-header img {
  height: 15px;
}
#bottom-header {
  box-shadow: 0px 2px 4px #000;
}
#bottom-header i {
  transition: transform 0.3s;
}
#bottom-header li:hover i {
  color: var(--light-blue-ps);
  transform: rotate(-180deg);
}
#bottom-header li:hover a {
  color: var(--light-blue-ps);
}
/* header bottom */
#bottom-header {
  background-color: #fff;
}

#bottom-header .nav-item > a {
  color: #000;
}
#bottom-header .nav-item img {
  height: 1.5rem;
}

/* jumbos */
#top-jumbo {
  background-image: url(../img/jumbo-bg.png);
  height: 750px;
}
#second-jumbo {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

#top-jumbo,
#second-jumbo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* first section */
#ps5_games img {
  transition: transform 0.5s;
  padding: 2px;
}
#ps5_games img:hover {
  transform: translateY(-1.2rem);
}
#ps5_games img:active {
  border: 2px solid var(--light-blue-ps);
}
#ps5-accessories > div:active {
  border-bottom: 2px solid var(--light-blue-ps);
}
/* second section */
#second-section {
  background-color: #1f1f1f;
}
/* third jumbotron */
#third-jumbo {
  background-color: var(--light-gray-ps);
}

#third-jumbo img,
#fourth-jumbo img {
  height: 80px;
}

/* fourth jumbotron  */
#fourth-jumbo {
  background-color: #161c3b;
}

/* footer */
footer {
  background-color: var(--blue-ps);
}
[src*="ps-footer"] {
  height: 75px;
}
.language img {
  height: 24px;
}
#logo-language {
  min-height: 150px;
}
#logo-language > div {
  height: 50px;
}

#sie img {
  height: 50px;
  max-height: 75px;
}
