.container {
  border: 1px solid orange;
}
.container-fluid {
  border: 1px solid red;
}

.row {
  border: 1px solid blue;
  /* margin: 5px 0; */
}
[class*="col"] {
  border: 1px dashed blueviolet;
  /* min-height: 30px; */
}

/* *********************** Utilities ******************* */
.btn-secondary {
  background-color: #363636;
}

/* Header */
#top-header {
  height: 30px;
  background-color: #000;
}
#top-header img {
  height: 15px;
}

/* header bottom */
#bottom-header .nav-item > a {
  color: #000;
}
#bottom-header .nav-item img {
  height: 1.5rem;
}

/* top jumbo */

/* second section */
#second-section {
  background-color: #1f1f1f;
}
/* third jumbotron */
#third-jumbo {
  background-color: #bebcbb;
}

/* fourth jumbotron  */
#fourth-jumbo {
  background-color: #161c3b;
}

/* footer */
footer {
  background-color: #00439c;
}
